.git/
.*.sw[op]
.metadata
.yardoc
.yardwarns
*.iml
/.bundle/
/.idea/
/.vagrant/
/coverage/
/bin/
/doc/
/Gemfile.local
/junit/
/log/
/pkg/
/tmp/
/vendor/
/convert_report.txt
/update_report.txt
spec/fixtures
.rspec_system

.rbenv-gemsets
.ruby-version

environments/**/.vagrant

.DS_Store
.project
.envrc
/inventory.yaml

.kitchen
